{{#section 'js'}}
    <script>

        $('#dropdownbtn').on('click', function (id) {
            if (document.getElementById(id).getAttribute('data-visible') === "true") {
                document.getElementById(id).style.display = 'none';
                document.getElementById(id).setAttribute('data-visible', 'false');
                console.log("oke");
            } else {
                document.getElementById(id).style.display = 'flex';
                document.getElementById(id).setAttribute('data-visible', 'true');
                console.log(" not oke");
            }

        });

        function showOrHide(id) {
            if (document.getElementById(id).getAttribute('data-visible') === "true") {
                document.getElementById(id).style.display = 'none';
                document.getElementById(id).setAttribute('data-visible', 'false');
                console.log("oke");
            } else {
                document.getElementById(id).style.display = 'flex';
                document.getElementById(id).setAttribute('data-visible', 'true');
                console.log(" not oke");
            }

        }

        function navButton(id) {

        }

        // document.getElementById('dropdownbtn').addEventListener('click',function ())

        let player = videojs('my-video', {

            playbackRates: [0.25, 0.5, 0.75, 1, 1.25, 1.5, 1.75, 2],
        });

        // update star for tutorial rating
        function starRating() {
            let list = ['#star1', '#star2', '#star3', '#star4', '#star5'];
            let rate = +document.getElementById('star1').getAttribute('data-rate');
            for (let item = 5; item > 0; item--) {
                if (rate >= item) {
                    continue;
                }
                if (rate >= (item - 0.5)) {
                    $(list[item - 1]).removeClass('fa-star');
                    $(list[item - 1]).addClass('fa-star-half-full');
                } else {
                    $(list[item - 1]).removeClass('fa-star');
                    $(list[item - 1]).addClass('fa-star-o');
                }
            }
        }

        starRating();



//         $('#userRating').on('click', function () {
//             $("#userRating").rate();
//
// //or for example
//             var options = {
//                 max_value: 6,
//                 step_size: 0.5,
//             }
//             $(".rating").rate(options);
//         })

        let popup = document.getElementById("popup");

        $('#popupBtn').on('click', function () {
           popup.classList.add('open-popup');

        });


        function openPopup() {
            popup.classList.add('open-popup');
        }

        function closePopup() {
            popup.classList.remove('open-popup');
        }
    </script>
{{/section}}

<div class="container-fluid" style="height: 700px">

    <div class="row">
        <div class="col-md-12 " style="height: 500px">
            <video
                    id="my-video"
                    class="video-js vjs-big-play-centered vjs-captions-menu-item vjs-subtitles-button vjs-fill"
                    controls
                    preload="auto"
                    width="640"
                    height="264"
                    data-setup='{"poster":"{{this.lecture.poster}}"}'
            >
                <source src="{{this.lecture.videoURL}}" type="video/mp4"/>
                <!--    <source src="MY_VIDEO.webm" type="video/webm" />-->
                <p class="vjs-no-js">
                    To view this video please enable JavaScript, and consider upgrading to a
                    web browser that
                    <a href="https://videojs.com/html5-video-support/" target="_blank"
                    >supports HTML5 video</a
                    >
                </p>
            </video>
        </div>
        <!--        <div class="col-md-4">-->
        <!--            <div class="btn-lg">-->
        <!--                <div class="d-flex justify-content-between">-->
        <!--                    <div>lecture 1 </div>-->
        <!--                    <div id = "dropdownbtn" onclick="showOrHide('ul1')" class="btn"><i class="fa fa-angle-down" aria-hidden="true"></i></div>-->
        <!--                </div>-->
        <!--                <ul data-visible = "true" id="ul1" class="list-group">-->
        <!--                    <li class="list-group-item disabled" aria-disabled="true">A disabled item</li>-->
        <!--                    <li class="list-group-item">A second item</li>-->
        <!--                    <li class="list-group-item">A third item</li>-->
        <!--                    <li class="list-group-item">A fourth item</li>-->
        <!--                    <li class="list-group-item">And a fifth one</li>-->
        <!--                </ul>-->
        <!--            </div>-->
        <!--            <div class="btn-lg"> lecture 2</div>-->
        <!--            <div class="btn-lg"> lecture 3</div>-->
        <!--        </div>-->
        <div class="col-md-12">
            <div class="container">
                <ul class="nav nav-tabs" role="tablist">
                    <li class="nav-item">
                        <a class="nav-link active font-weight-bold" role="tab" href="#courseContent" data-toggle="tab">Course
                            content</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link font-weight-bold" role="tab" href="#overview" data-toggle="tab">Overview</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link font-weight-bold" role="tab" href="#review" data-toggle="tab">Review</a>
                    </li>
                </ul>

                <div class="tab-content">
                    <div role="tabpanel" id="courseContent" class="tab-pane active">
                        <div class="list-group">
                            {{#each this.lectures}}
                                <div class="d-flex flex-nowrap align-items-center border-bottom">
                                    <div class="mr-3 bg-light"><i class="fa fa-check-square " aria-hidden="true"></i>
                                    </div>

                                    <a href="#"
                                       class="list-group-item list-group-item-action font-weight-bold text-secondary border-0">{{lecName}}</a>
                                </div>

                            {{/each}}
                        </div>
                    </div>
                    <div role="tabpanel" id="overview" class="tab-pane">
                        <h3>About this course</h3>
                        {{this.lecture.description}}
                    </div>
                    <div role="tabpanel" id="review" class="tab-pane">
                        <button class="btn-block" type="button" onclick="openPopup()">
                            click me!!
                        </button>
                        <div class="popup" id="popup">
                            <div class="userRating">
                                <div class="star-widget">
                                    <input type="radio" name="rate" id="rate-5">
                                    <label for="rate-5" class="fa fa-star"></label>
                                    <input type="radio" name="rate" id="rate-4">
                                    <label for="rate-4" class="fa fa-star"></label>
                                    <input type="radio" name="rate" id="rate-3">
                                    <label for="rate-3" class="fa fa-star"></label>
                                    <input type="radio" name="rate" id="rate-2">
                                    <label for="rate-2" class="fa fa-star"></label>
                                    <input type="radio" name="rate" id="rate-1">
                                    <label for="rate-1" class="fa fa-star"></label>
                                    <form action="#">
                                        <header class="headerUserRating"></header>
                                        <div class="textarea" style="height: 100px;width: 100%;overflow: hidden">
                                            <textarea cols="30" style="height: 100%;width: 100%;outline: none;
                                                border: 1px solid #333; padding: 10px;font-size: 17px; resize: none; border-radius: 5px;
                                            ">
                                                
                                            </textarea>

                                        </div>
                                        <div class="button">
                                            <button type="submit" class="btn btn-dark btn-block mt-1"
                                                    onclick="closePopup()">Post
                                            </button>
                                        </div>
                                    </form>
                                </div>
                            </div>
                        </div>
                        <h4>Student feedback</h4>
                        <div class="d-flex flex-nowrap">
                            <div class="d-flex flex-column" style="width: 120px;height: 150px;">

                                <div class="checked font-weight-bold h1">{{this.tutorialRating}}</div>
                                <div><span id="star1" class="fa fa-star checked"
                                           data-rate="{{this.tutorialRating}}"></span>
                                    <span id="star2" class="fa fa-star checked"
                                          data-rate="{{this.tutorialRating}}"></span>
                                    <span id="star3" class="fa fa-star checked"
                                          data-rate="{{this.tutorialRating}}"></span>
                                    <span id="star4" class="fa fa-star checked"
                                          data-rate="{{this.tutorialRating}}"></span>
                                    <span id="star5" class="fa fa-star checked"
                                          data-rate="{{this.tutorialRating}}"></span>
                                </div>
                                <div class="checked">Tutorial rating</div>
                            </div>
                            <div class="w-75">
                                {{#each this.countRateList}}
                                    <div class="row">
                                        <div class="progress col-md-8 p-0">
                                            <div class="progress-bar bg-secondary" role="progressbar"
                                                 style="width: {{this}}%" aria-valuenow="0" aria-valuemin="0"
                                                 aria-valuemax="100"></div>
                                        </div>
                                        <div class="col-md-4">
                                            {{{printStar @index true}}}
                                        </div>
                                    </div>

                                    <div class="rating"></div>

                                {{/each}}
                            </div>
                        </div>

                        <div>
                            <div class="userRating bg-light">
                                <div class="star-widget">
                                    <input type="radio" name="rate" id="rate-5">
                                    <label for="rate-5" class="fa fa-star"></label>
                                    <input type="radio" name="rate" id="rate-4">
                                    <label for="rate-4" class="fa fa-star"></label>
                                    <input type="radio" name="rate" id="rate-3">
                                    <label for="rate-3" class="fa fa-star"></label>
                                    <input type="radio" name="rate" id="rate-2">
                                    <label for="rate-2" class="fa fa-star"></label>
                                    <input type="radio" name="rate" id="rate-1">
                                    <label for="rate-1" class="fa fa-star"></label>
                                    <form action="#">
                                        <header class="headerUserRating"></header>
                                        <div class="textarea" style="height: 100px;width: 100%;overflow: hidden">
                                            <textarea cols="30" style="height: 100%;width: 100%;outline: none;
                                                border: 1px solid #333; padding: 10px;font-size: 17px; resize: none; border-radius: 5px;
                                            "></textarea>

                                        </div>
                                        <div class="button">
                                            <button type="submit" class="btn btn-dark btn-block mt-1">Post</button>
                                        </div>
                                    </form>
                                </div>
                            </div>
                            <h2>Comment</h2>
                            {{#each this.feedbacks}}
                                <div class="container border-bottom pb-2">
                                    <div class="row">
                                        <div class="col-md-1">
                                            <div class="d-flex flex-nowrap align-items-center">
                                                <i class="bi bi-person"></i>
                                                <svg xmlns="http://www.w3.org/2000/svg" width="4.3rem" height="4.3rem"
                                                     fill="currentColor"
                                                     class="bi bi-person" viewBox="0 0 16 16">
                                                    <path d="M8 8a3 3 0 1 0 0-6 3 3 0 0 0 0 6Zm2-3a2 2 0 1 1-4 0 2 2 0 0 1 4 0Zm4 8c0 1-1 1-1 1H3s-1 0-1-1 1-4 6-4 6 3 6 4Zm-1-.004c-.001-.246-.154-.986-.832-1.664C11.516 10.68 10.289 10 8 10c-2.29 0-3.516.68-4.168 1.332-.678.678-.83 1.418-.832 1.664h10Z"/>
                                                </svg>
                                            </div>
                                        </div>
                                        <div class="col-md-11">
                                            {{{printStar this.rating false}}}
                                            <h3>{{this.author}}</h3>
                                            <div class="text-dark ml-2">
                                                {{this.content}}
                                            </div>
                                        </div>

                                    </div>
                                </div>
                            {{/each}}

                        </div>
                    </div>
                </div>
            </div>


            <!--            <div id="main">-->
            <!--                <div class="container">-->
            <!--                    <h1 class="title-page">Xác định vị trí và các thành phần liên quan trong Tabs</h1>-->
            <!--                    <div class="group-tabs">-->
            <!--                        &lt;!&ndash; Nav tabs &ndash;&gt;-->
            <!--                        <ul class="nav nav-tabs" role="tablist">-->
            <!--                            <li role="presentation" class="active"><a href="#home" aria-controls="home" role="tab" data-toggle="tab">Home</a></li>-->
            <!--                            <li role="presentation"><a href="#profile" aria-controls="profile" role="tab" data-toggle="tab">Profile</a></li>-->
            <!--                            <li role="presentation"><a href="#messages" aria-controls="messages" role="tab" data-toggle="tab">Messages</a></li>-->
            <!--                            <li role="presentation"><a href="#settings" aria-controls="settings" role="tab" data-toggle="tab">Settings</a></li>-->
            <!--                        </ul>-->

            <!--                        &lt;!&ndash; Tab panes &ndash;&gt;-->
            <!--                        <div class="tab-content">-->
            <!--                            <div role="tabpanel" class="tab-pane active" id="home">This is Home content</div>-->
            <!--                            <div role="tabpanel" class="tab-pane" id="profile">This is Profile content</div>-->
            <!--                            <div role="tabpanel" class="tab-pane" id="messages">This is Messages content</div>-->
            <!--                            <div role="tabpanel" class="tab-pane" id="settings">This is Settings content</div>-->
            <!--                        </div>-->
            <!--                    </div>-->
            <!--                </div>-->
            <!--            </div>-->


        </div>
    </div>
</div>

