

<div class="card">
  <p class="card-header d-flex aPath">
    <a class="aPath" href="javascript:;">{{fieldName}}</a>
    <span>&nbsp;&nbsp;❯&nbsp;&nbsp;</span>
    <a class="aPath" href="javascript:;">{{catName}}</a>
  </p>

  <div class="card-body">
    {{#if this.empty}}
        <p class="card-title">Không có dữ liệu</p>
        <p class="card-text">With supporting text below as a natural lead-in to additional content.</p>
    {{else}}
        <div class="row">
        {{#each this.course}}
          <div class="col-sm-3 mb-3" type="button">
            <a class="course-card-a" href="/course/detail?catID={{catID}}&id={{courseID}}">
            <div class="course-card">
                <img class= "course-card-img" src="https://drive.google.com/uc?export=view&id={{image}}" alt="">
                <h5 class="course-card-title">{{title}}</h5>
                <p class="course-card-instructor">{{instructor}}</p>
                <span class="rating">{{rating}}</span>
                {{#each star}}
                <span class="fa fa-star {{#if this}}star-checked{{/if}}"></span>
                {{/each}}
                <span>&nbsp;({{format_number rating_num}})</span>
                <p class="price">₫{{format_number price}}</p>
            </div>
            </a>
          </div>
        {{/each}}
        </div>
        <nav aria-label="Page navigation example">
          <ul class="pagination justify-content-end">
            <li class="page-item {{#unless hasPrevPage}}disabled{{/unless}}">
              <a class="page-link" href="?page={{this.prevPage}}">Previous</a>
            </li>
          {{#each this.pageNumbers}}
            <li class="page-item  {{#if isCurrent}}active{{/if}}">
              <a class="page-link" href="{{#if isCurrent}}javascript:;{{else}}?page={{value}}{{/if}}">
                {{value}}
              </a>
            </li>
          {{/each}}
            <li class="page-item {{#unless hasNextPage}}disabled{{/unless}}">
              <a class="page-link" href="?page={{this.nextPage}}">Next</a>
            </li>
          </ul>
        </nav>
  {{/if}}
  </div>
</div>