{{#section 'js'}}
<script>

  var offset = 4;
  var courseID = {{course.courseID}};
  var userID = {{authUser.userID}};
  var totalFb = {{totalFb}};

  function getMoreFeedback() {
    var ajax = new XMLHttpRequest();

    ajax.open("POST", `http://localhost:3000/user-courses/moreFB?id=${courseID}&offset=${offset}`, true);

    ajax.onreadystatechange = function () {
      if (this.readyState == 4) {
        if (this.status == 200) {
          var data = JSON.parse(this.responseText);
          var html = "";
          for (var a = 0; a < data.length; a++) {
            html += "<div class=\"col-md-6 p-1\">";
            html += "<div class=\"border-top\" style=\"width: 85%;\">";
            html += "<div class=\"m-2 pt-3 pb-3\">";
            html += "<div class=\"feedback-card-header d-flex\">";
            html += "<div class=\"mt-2\">";
            html += "<span class=\"feedback-card-author-avatar\">" + data[a].avatar + "</span>";
            html += "</div>";
            html += "<div class=\"ml-3\">";
            html += "<span>" + data[a].author +"</span><br>";
            for (var i = 0; i < 5; i++) {
              if (data[a].star[i] === true) {
                html += "<span class=\"fa fa-star star-checked\"></span>";
              }
              else {
                html += "<span class=\"fa fa-star\"></span>";
              }
            }
            html += "&nbsp;";
            html += "<span>" + data[a].date + "</span>"
            html += "</div>";
            html += "</div>";
            html += "<p class=\"card-text mt-3\">";
            html += "<span>" + data[a].content + "</span><br>";
            html += "</p>";
            html += "</div>";
            html += "</div>";
            html += "</div>";
          }
          document.getElementById("data").innerHTML += html;
          var limit = 4;
          offset = offset + limit;
          if (offset >= totalFb) {
            $("#show-more").addClass("disabled");
            return;
          }
        }
      }
    };
    ajax.send();
  }

  function addToWishlist() {
    var ajax = new XMLHttpRequest();

    ajax.open("POST", `http://localhost:3000/user-courses/wishlist?id=${courseID}&userID=${userID}`, true);
    ajax.onreadystatechange = function () {
      if (this.readyState == 4) {
        if (this.status == 200) {
          var data = JSON.parse(this.responseText);
          if (data === true) {
            $("#add-to-wishlist").addClass("fa-heart");
            $("#add-to-wishlist").removeClass("fa-heart-o");
          }
          else {
            $("#add-to-wishlist").addClass("fa-heart-o");
            $("#add-to-wishlist").removeClass("fa-heart");
          }
        }
      }
    };
    ajax.send();
  }
</script>
{{/section}}

<p class="card-header d-flex aPath">
  <a class="aPath" href="javascript:;">{{fieldName}}</a>
  <span>&nbsp;&nbsp;❯&nbsp;&nbsp;</span>
  <a class="aPath" href="/user-courses/category/{{course.catID}}">{{catName}}</a>
</p>

{{#if empty}}
<div class="m-5"
  <p class="card-title">No data</p>
  <p class="card-text">Please return next time.</p>
</div>
{{else}}
<div class="card">

  <div class="bg-dark">
    <div class="course-card-body">
      <div class="course-title text-light">
        <h1 class="card-title">{{course.courseName}}</h1>
        <p class="card-text">{{{course.tinydes}}}</p>
        <div class="course-title-info">
          <p class="card-text">
            {{#if course.isBestseller}}
              <span class="bestseller">Bestseller</span>&nbsp;
            {{/if}}
            {{#if course.isNew}}
              <span class="new">New</span>&nbsp;
            {{/if}}
            <span class="rating">{{course.rating}}</span>&nbsp;
            {{#each course.star}}
                <span class="fa {{#if starHalf}}fa-star-half-o star-checked{{/if}} {{#if star}}fa-star star-checked{{else}}fa-star-o star-checked{{/if}}"></span>
            {{/each}}
            &nbsp;
            <span class="course-rating-num">({{format_number course.rating_num}} ratings)</span>
            &nbsp;
            <span>{{format_number course.student_num}} students</span>
          </p>
          <p class="card-text">Instructor: <span class="course-instructor">{{course.instructor}}</span></p>
          <p class="card-text">
            <span>Status: </span>
            <span class="font-weight-bold text-warning">{{#if course.completed}}Completed{{else}}Not completed{{/if}}</span>
            &nbsp;
            <i class="fa fa-minus"></i>
            &nbsp;
            Last updated <span>{{dateMonthYear course.update}}</span>
          </p>
          {{#if isOwner}}
          <a class="detail-edit-button" href="/teacher/editCourse?id={{course.courseID}}">
            <h5 style="font-weight: 500;">
              <i class="fa fa-pencil" aria-hidden="true"></i>&nbsp;
              Edit
            </h5>
          </a>
          <a class="detail-upload-button" href="/lectures/add?id={{course.courseID}}">
            <h5 style="font-weight: 500;">
              <i class="fa fa-plus" aria-hidden="true"></i>&nbsp;
              Lecture
            </h5>
          </a>
          {{/if}}
        </div>
        
      </div>
      <img class="course-img border-light" src="https://drive.google.com/uc?export=view&id={{course.image}}">

      <div class="course-title-price mt-2">
        <div class="course-title-price-card">
          <div class="price-box text-dark text-center">
            {{#if course.hasPromotion}}
              <span class="price" style="font-size: 30px;">₫{{format_number course.promotion}}</span><br>
              <span class="old-price" style="font-size: 24px;">₫{{format_number course.price}}</span>
            {{else}}
              <span class="price" style="font-size: 30px;">₫{{format_number course.price}}</span>
            {{/if}}
          </div>
          <div class="d-flex mt-3">
            {{#ifCond userID "==" 0}}
              <a href="/users/login" class="buy-now text-center text-dark">
                <h5 style="font-weight: 500;">
                  Buy now
                </h5>
              </a>
              <a href="/users/login" class="course-add-to-wishlist">
                <i id="add-to-wishlist" class="fa fa-heart{{#unless isInWishList}}-o{{/unless}} fa-lg"></i>
              </a>
            {{else}}
            <form action="/user-courses/buy-now" method="post">
              <input type="hidden" id="courseID" name="courseID" value="{{course.courseID}}">
              <input type="hidden" id="userID" name="userID" value="{{authUser.userID}}"> 
              <button class="buy-now text-center text-dark" type="submit"><h5 style="font-weight: 500;">Buy now</h5></button>
            </form>
            <button class="course-add-to-wishlist" onclick="addToWishlist();">
              <i id="add-to-wishlist" class="fa fa-heart{{#unless isInWishList}}-o{{/unless}} fa-lg"></i>
            </button>
            {{/ifCond}}
          </div>
        </div>
      </div>
    </div>
  </div>
</div>

{{!-- MAIN DESCRIPTION CONTAINER --}}
<div class="card-body">
  <div class="main-des">
    <h4>Description</h4>
    <p class="card-text">{{{course.maindes}}}</p>
  </div>
</div>


{{!-- COURSE CONTENT CONTAINER --}}
<div class="card-body">
  <div class="course-content">
    <h4>Course Content</h4>
    <div class="mt-3">
      <div class="list-group">
          {{#each lecture}}
              <a data-toggle="collapse" href="#{{newLectureID}}" class="list-group-item list-group-item-action font-weight-bold text-secondary bg-light" role="button" aria-expanded="false">
                {{lecName}}
              </a>
              
              <div class="collapse" id="{{newLectureID}}">
                {{#if isPreview}}
                <div style="height: 465px">
                  <video
                    id="my-video"
                    class="video-js vjs-big-play-centered vjs-captions-menu-item vjs-subtitles-button vjs-fill"
                    controls
                    preload="auto"
                    width="640"
                    height="264"
                    data-setup='{"poster":"{{poster}}"}'
                  >
                  <source src="https://drive.google.com/uc?export=view&id={{videoURL}}" type="video/mp4"/>
                  <p class="vjs-no-js">
                    To view this video please enable JavaScript, and consider upgrading to a
                    web browser that
                    <a href="https://videojs.com/html5-video-support/" target="_blank"
                    >supports HTML5 video</a
                    >
                  </p>
                  </video>
                </div>
                {{/if}}
                <div class="card card-body">
                    {{{description}}}
                </div>
              </div>
          {{/each}}
          
      </div>
  </div>
  </div>
</div>

{{!-- RECOMMENDED LIST CONTAINER --}}
<div class="card-body">
  <div class="recommend-container">
    <h4>Students also bought</h4>
    {{#each recommendItem}}
      <div type="button">
        <a href="/user-courses/detail?catID={{catID}}&id={{courseID}}" class="recommend-card">
          <img src="https://drive.google.com/uc?export=view&id={{image}}" alt="">
          <div class="d-inline ml-4" style="width: 325px;">
            <span class="recommend-card-header">{{courseName}}</span>
            <br>
            <span><i>{{lec_num}} lectures</i></span>
            &nbsp;
            <i class="fa fa-minus"></i>
            &nbsp;
            <span>Update {{dateMonthYear update}}</span>
          </div>
          <div class="d-inline ml-5 mr-3" style="width: 100px;">
            <span class="rating">{{rating}}</span>
            <i class="fa fa-star star-checked"></i>
          </div>
          <div class="d-inline ml-3 mr-3" style="width: 150px;">
            <i class="fa fa-user"></i>
            <span>{{format_number rating_num}}</span>
          </div>
          <div class="d-inline" style="width: 90px;">
            {{#if hasPromotion}}
              <span class="recommend-card-price">₫{{format_number promotion}}</span><br>
              <span class="recommend-card-old-price">₫{{format_number price}}</span><br>
            {{else}}
              <span class="recommend-card-price">₫{{format_number price}}</span><br>
            {{/if}}
          </div>
        </a>
      </div>
    {{/each}}
  </div>
</div>

{{!-- INSTRUCTOR CONTAINER --}}
<div class="card-body">
  <div class="main-des">
    <h4>Instructor</h4>
    <p class="instructor-name mt-2">
      <a class="instructor-name" href="javascript:;">
          Dr. {{teacher.teacherName}}
      </a>
    </p>
    </h5>
    <p class="instructor-bio">{{teacher.teacherBio}}</p>
    <div>
      <div class="d-flex">
        <a href="javascript:;">
          <img src="https://drive.google.com/uc?export=view&id={{teacher.avatar}}" width="64" height="64" style="width: 8rem; height: 8rem; border-radius: 50%;" alt="">
        </a>
        <ul class="d-block unstyled-list">
          <li class="mt-2 mb-2">
            <i class="fa fa-star"></i>
            <span style="margin-left: 1rem;">{{teacher.rating}} Instructor Rating</span>
          </li>
          <li class="mt-2 mb-2">
            <i class="fa fa-certificate"></i>
            <span style="margin-left: 1rem;">{{format_number teacher.reviews}} Reviews</span>
          </li>
          <li class="mt-2 mb-2">
            <i class="fa fa-user"></i>
            <span style="margin-left: 1rem;">{{format_number teacher.totals_stu}} Students</span>
          </li>
          <li class="mt-2 mb-2">
            <i class="fa fa-play-circle"></i>
            <span style="margin-left: 1rem;">{{format_number teacher.numCourses}} Courses</span>
          </li>
        </ul>
      </div>
    </div>
    <p class="card-text">{{{teacher.description}}}</p>
  </div>
</div>

{{!-- FEEDBACK CONTAINER --}}
<div class="card-body">
  <div class="feedback">
    <h4>Feedbacks</h4>
    <h5>
      <i class="fa fa-star fa-lg star-checked"></i>
      {{course.rating}} course rating
      <i class="fa fa-circle"></i>
      {{format_number course.rating_num}} ratings
    </h5>
    <div class="row mt-3">
    {{#each feedback}}
      <div class="col-md-6 p-1">
        <div class="border-top" style="width: 85%;">
          <div class="m-2 pt-3 pb-3">
            <div class="feedback-card-header d-flex">
              <div class="mt-2">
                <span class="feedback-card-author-avatar">{{avatar}}</span>
              </div>
              <div class="ml-3" >
                <span>{{author}}</span><br>
                {{#each star}}
                  <span class="fa fa-star {{#if this}}star-checked{{/if}}"></span>
                {{/each}}
                &nbsp;
                <span>{{dateDayMonthYear date}}</span>
              </div>
            </div>
            <p class="card-text mt-3">
            {{!-- <h5>{{title}}</h5> --}}
            <span>{{content}}</span><br>
            </p>
          </div>
        </div>
      </div>
    {{/each}}
    </div>
    <div id="data" class="row"></div>
    {{!-- <div class="text-center">
      <a id="show-more" type="button" class="btn btn-outline-dark mt-3 mb-3 {{#unless hasNextFb}}disabled{{/unless}}" href="/course/detail?catID={{course.catID}}&id={{course.courseID}}&fbID={{nextFbID}}#show-more">Show more</a>
    </div> --}}
    <div class="text-center">
      <a id="show-more" type="button" class="btn btn-outline-dark mt-3 mb-3" onclick="getMoreFeedback();" {{#if emptyFbList}}hidden{{/if}}>Show more</a>
    </div>
  </div>
</div>
{{/if}}
