<div class="card">
  <p class="card-header d-flex aPath">
    <a class="aPath" href="javascript:;">{{fieldName}}</a>
    <span>&nbsp;&nbsp;❯&nbsp;&nbsp;</span>
    <a class="aPath" href="/course/category/{{course.catID}}">{{catName}}</a>
  </p>

  <div class="bg-dark">
    <div class="course-card-body">
      <div class="course-title text-light">
        <h1 class="card-title">{{course.courseName}}</h1>
        <p class="card-text">{{course.tinydes}}</p>
        <div class="course-title-info">
          <p class="card-text">
            <span class="rating">{{course.rating}}</span>&nbsp;
            {{#each course.star}}
                <span class="fa {{#if starHalf}}fa-star-half-o star-checked{{/if}} {{#if star}}fa-star star-checked{{else}}fa-star-o star-checked{{/if}}"></span>
            {{/each}}
            &nbsp;
            <span class="course-rating-num">({{format_number course.rating_num}} ratings)</span>
            &nbsp;
            <span>{{format_number course.student_num}} students</span>
          </p>
          <p class="card-text">Instructor: <span class="course-instructor">{{course.instructor}}</span></p>
          <p class="card-text">Last updated <span>{{dateMonthYear course.update}}</span></p>
        </div>
        
      </div>
      <img class="course-img border-light" src="https://drive.google.com/uc?export=view&id={{course.image}}">

      <div class="course-title-price mt-2">
        <div class="course-title-price-card">
          <div class="price-box text-dark text-center">
            {{#if course.hasPromotion}}
              <span class="price" style="font-size: 30px;">₫{{format_number course.promotion}}</span><br>
              <span class="old-price" style="font-size: 24px;">₫{{format_number course.price}}</span>
            {{else}}
              <span class="price" style="font-size: 30px;">₫{{format_number course.price}}</span>
            {{/if}}
          </div>
          <div class="buy-now text-center text-dark" type="button">
            <h5 style="font-weight: 500;">Buy now</h5>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>

{{!-- MAIN DESCRIPTION CONTAINER --}}
<div class="card-body">
  <div class="main-des">
    <h4>Description</h4>
    <p class="card-text">{{course.maindes}}</p>
  </div>
</div>

{{!-- COURSE CONTENT CONTAINER --}}
<div class="card-body">
  <div class="course-content">
    <h4>Course Content</h4>
    <div class="mt-3">
      <div class="list-group">
          {{#each lecture}}
              <a data-toggle="collapse" href="#{{newLectureID}}" class="list-group-item list-group-item-action font-weight-bold text-secondary bg-light" role="button" aria-expanded="false">
                {{lecName}}
              </a>
              <div class="collapse" id="{{newLectureID}}">
                <div class="card card-body">
                  {{description}}
                </div>
              </div>
          {{/each}}
          
      </div>
  </div>
  </div>
</div>

{{!-- RECOMMENDED LIST CONTAINER --}}
<div class="card-body">
  <div class="recommend-container">
    <h4>Students also bought</h4>
    {{#each recommendItem}}
      <div type="button">
        <a href="/course/detail?catID={{catID}}&id={{courseID}}" class="recommend-card">
          <img src="https://drive.google.com/uc?export=view&id={{image}}" alt="">
          <div class="d-inline ml-4" style="width: 325px;">
            <span class="recommend-card-header">{{courseName}}</span>
            <br>
            <span><i>{{lec_num}} lectures</i></span>
            &nbsp;
            <i class="fa fa-minus"></i>
            &nbsp;
            <span>Update {{dateMonthYear update}}</span>
          </div>
          <div class="d-inline ml-5 mr-3" style="width: 100px;">
            <span class="rating">{{rating}}</span>
            <i class="fa fa-star star-checked"></i>
          </div>
          <div class="d-inline ml-3 mr-3" style="width: 150px;">
            <i class="fa fa-user"></i>
            <span>{{format_number rating_num}}</span>
          </div>
          <div class="d-inline" style="width: 90px;">
            {{#if hasPromotion}}
              <span class="recommend-card-price">₫{{format_number promotion}}</span><br>
              <span class="recommend-card-old-price">₫{{format_number price}}</span><br>
            {{else}}
              <span class="recommend-card-price">₫{{format_number price}}</span><br>
            {{/if}}
          </div>
        </a>
      </div>
    {{/each}}
  </div>
</div>

{{!-- INSTRUCTOR CONTAINER --}}
<div class="card-body">
  <div class="main-des">
    <h4>Instructor</h4>
    <p class="card-text">{{course.maindes}}</p>
  </div>
</div>

{{!-- FEEDBACK CONTAINER --}}
<div class="card-body">
  <div class="feedback">
    <h4>Feedbacks</h4>
    <h5>
      <i class="fa fa-star fa-lg star-checked"></i>
      {{course.rating}} course rating
      <i class="fa fa-circle"></i>
      {{format_number course.rating_num}} ratings
    </h5>
    <div class="row mt-3">
    {{#each feedback}}
      <div id="{{kebabCase fbID}}" class="col-md-6 p-1">
        <div class="border-top" style="width: 85%;">
          <div class="m-2 pt-3 pb-3">
            <div class="feedback-card-header d-flex">
              <div class="mt-2">
                <span class="feedback-card-author-avatar">{{avatar}}</span>
              </div>
              <div class="ml-3" >
                <span>{{author}}</span><br>
                {{#each star}}
                  <span class="fa fa-star {{#if this}}star-checked{{/if}}"></span>
                {{/each}}
                &nbsp;
                <span>{{dateDayMonthYear date}}</span>
              </div>
            </div>
            <p class="card-text">
            <h5>{{title}}</h5>
            <span class="mt-3">{{content}}</span><br>
            </p>
          </div>
        </div>
      </div>
    {{/each}}
    </div>
    <div class="text-center">
      <a id="show-more" type="button" class="btn btn-outline-dark mt-3 mb-3 {{#unless hasNextFb}}disabled{{/unless}}" href="/course/detail?catID={{course.catID}}&id={{course.courseID}}&fbID={{nextFbID}}#show-more">Show more</a>
    </div>
  </div>
</div>


