<div class="card">
    <h4 class="card-header d-flex justify-content-between">
        Categories
        <a class="btn btn-sm btn-outline-primary" href="/admin/categories/add/{{this.fieldID}}" role="button">
            <i class="fa fa-plus" aria-hidden="true"></i>
            Add Category
        </a>

        <a class="btn btn-outline-success" href="/admin/fields" role="button">
            <i class="fa fa-backward" aria-hidden="true"></i>
            Fields
        </a>
    </h4>
    {{#if this.empty}}
        <div class="card-body">
            Không có dữ liệu!
        </div>
    {{else}}
        <div class="card-body">
            <table class="table table-hover">
                <thead>
                <tr>
                    <th>#</th>
                    <th>Category</th>
                    <th class ="text-center">Hidden</th>
                    <th class ="text-center">Courses</th>
                    <th class ="text-center">Edit</th>
                    <th class ="text-center">View</th>
                </tr>
                </thead>
                <tbody>
                {{#each this.list}}
                    <tr>
                        <td scope="row">{{catID}}</td>
                        <td>{{catName}}</td>
                        <td class ="text-center">{{#if hidden}} true {{else}} false {{/if}}</td>
                        <td class="text-center">{{course_num}}</td>
                        <td class ="text-center">
                            <a class="btn btn-primary btn-sm" href="/admin/categories/edit?id={{catID}}" role="button" title="Edit Category">
                            <i class="fa fa-pencil" aria-hidden="true"></i>
                            </a>
                        </td>
                        <td class ="text-center">
                            <a class="btn btn-primary btn-sm" href="/admin/courses/view/{{catID}}" role="button" title="View Category">
                            <i class="fa fa-forward" aria-hidden="true"></i>
                            </a>
                        </td>
                    </tr>
                {{/each}}
                </tbody>
            </table>
        </div>
    {{/if}}
    <div class="card-footer text-muted">
        CAN'T DELETE CATEGORIES WHICH HAS COURSES
    </div>
</div>