{{#section 'js'}}
    <script>
        $(document).ready(function(){
            $("#myInput").on("keyup", function() {
                var value = $(this).val().toLowerCase();
                $("#myTable tr").filter(function() {
                    $(this).toggle($(this).text().toLowerCase().indexOf(value) > -1)
                });
            });
        });
    </script>
{{/section}}

<div class="card">
    <h4 class="card-header d-flex justify-content-between">
        Courses
        <a class="btn btn-outline-success" href="/admin/categories/view/{{fieldID}}" role="button">
            <i class="fa fa-backward" aria-hidden="true"></i>
            Courses
        </a>
    </h4>
    {{#if this.empty}}
        <div class="card-body">
            Không có dữ liệu!
        </div>
    {{else}}
        <p>Filter by text:</p>
        <input id="myInput" type="text" placeholder="Search.." style="width: 400px">
        <br><br>
        <div class="card-body">
            <table class="table table-hover">
                <thead>
                <tr>
                    <th>#</th>
                    <th>Courses</th>
                    <th class ="text-center">Teacher ID</th>
                    <th class ="text-center">Teacher Name</th>
                    <th >Hidden </th>
                    <th class="text-center">Lectures</th>
                    <th class ="text-center">Edit</th>
                    <th class ="text-center">View</th>

                </tr>
                </thead>
                <tbody id="myTable">
                {{#each this.list}}
                    <tr>
                        <td scope="row">{{courseID}}</td>
                        <td>{{courseName}}</td>
                        <td class ="text-center">{{teacherID}}</td>
                        <td class ="text-center">{{teacherName}}</td>
                        <td>{{#if hidden}} true {{else}} false{{/if}}</td>
                        <td class ="text-center">{{lec_num}}</td>
                        <td class ="text-center">
                            <a class="btn btn-primary btn-sm" href="/admin/courses/edit?id={{courseID}}" role="button" title="Edit Category">
                            <i class="fa fa-pencil" aria-hidden="true"></i>
                            </a>
                        </td>

                        <td class ="text-center">
                            <a class="btn btn-primary btn-sm" href="/admin/lectures/admin-view/{{courseID}}" role="button" title="Edit Category">
                                <i class="fa fa-eye" aria-hidden="true"></i>
                            </a>
                        </td>

                    </tr>
                {{/each}}
                </tbody>
            </table>
        </div>
    {{/if}}
    <div class="card-footer text-muted">
    </div>
</div>