<div class="card">
    <h4 class="card-header d-flex justify-content-between">
        Fields
        <a class="btn btn-sm btn-outline-primary" href="/fields/add" role="button">
            <i class="fa fa-plus" aria-hidden="true"></i>
            Add Field
        </a>
    </h4>
    {{#if this.empty}}
        <div class="card-body">
            Không có dữ liệu!
        </div>
    {{else}}
        <div class="card-body">
            <table class="table table-hover">
                <thead>
                <tr>
                    <th>#</th>
                    <th>Fields</th>
                    <th>Hidden </th>
                    <th> </th>
                    <th></th>

                </tr>
                </thead>
                <tbody>
                {{#each this.list}}
                    <tr>
                        <td scope="row">{{fieldID}}</td>
                        <td>{{fieldName}}</td>
                        <td>{{#if hidden}} true {{else}} false{{/if}}</td>
                        <td class="text-right">
                            <a class="btn btn-primary btn-sm" href="/fields/edit?id={{fieldID}}" role="button" title="Edit Field">
                            <i class="fa fa-pencil" aria-hidden="true"></i>
                            </a>
                        </td>

                        <td class="text-right">
                            <a class="btn btn-primary btn-sm" href="/categories/view/{{fieldID}}" role="button" title="View Field">
                            <i class="fa fa-eye" aria-hidden="true"></i>
                            </a>
                        </td>

                    </tr>
                {{/each}}
                </tbody>
            </table>
        </div>
    {{/if}}
    <div class="card-footer text-muted">
        2 days ago
    </div>
</div>