<div class="card">
    <h4 class="card-header d-flex justify-content-between">
        Fields
        <a class="btn btn-sm btn-outline-primary" href="/admin/fields/add" role="button">
            <i class="fa fa-plus" aria-hidden="true"></i>
            Add Field
        </a>
        <a class="btn btn-outline-success mr-4" href="/admin" role="button">
            <i class="fa fa-backward" aria-hidden="true"></i>
            Back
        </a>
    </h4>
    {{#if this.empty}}
        <div class="card-body">
            Không có dữ liệu!
        </div>
    {{else}}
        <div class="card-body">
            <table class="table table-hover">
                <thead>
                <tr>
                    <th>#</th>
                    <th>Fields</th>
                    <th class ="text-center">Hidden </th>
                    <th class ="text-center">Edit</th>
                    <th class ="text-center">View</th>

                </tr>
                </thead>
                <tbody>
                {{#each this.list}}
                    <tr>
                        <td scope="row">{{fieldID}}</td>
                        <td>{{fieldName}}</td>
                        <td class ="text-center">{{#if hidden}} true {{else}} false{{/if}}</td>
                        <td class ="text-center">
                            <a class="btn btn-primary btn-sm" href="/admin/fields/edit?id={{fieldID}}" role="button" title="Edit Field">
                            <i class="fa fa-pencil" aria-hidden="true"></i>
                            </a>
                        </td>

                        <td class ="text-center">
                            <a class="btn btn-primary btn-sm" href="/admin/categories/view/{{fieldID}}" role="button" title="View Field">
                            <i class="fa fa-forward" aria-hidden="true"></i>
                            </a>
                        </td>

                    </tr>
                {{/each}}
                </tbody>
            </table>
        </div>
    {{/if}}
    <div class="card-footer text-muted">
        
    </div>
</div>